name: Restart Fly.io Machines
on:
  schedule:
    - cron: "0 */4 * * *"
  workflow_dispatch:
jobs:
  restart-machines:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: superfly/flyctl-actions/setup-flyctl@master
      - run: flyctl app restart remembergaza
        working-directory: ./src
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}
